* text=auto

*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Cargo.lock text eol=lf
LICENSE text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

*.ico binary
*.png binary
